*{
    margin: 0;
    padding: 0;
}

.mainCardDiv{
    width: 300px;
    height: 350px;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.imgBg{
    width: 100%;
    height: 150px;
    border-radius: 20px;
    background: #1338BE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBg > img{
    width: 150px;
    height: 130px;
}

.mainCardDiv > h1{
    color: #283654;
    font-size: 1.8em;
    margin: 5px 0;
}

.mainCardDiv > p{
    color: #283654;
}

.moreBtn{
    width: 80%;
    height: 40px;
    outline: 3px solid #1338BE;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 20px;
    margin-top: 10px;
    transition: ease-in-out .4s;   
}

.moreBtn > a{
    text-decoration: none;
    color: #1338BE;
    font-size: 1em;
    font-weight: 600;
}
